body {
    padding-top: 80px;
    background-color: azure;
}

table {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats {
    background-color: lightgrey;
    color: blue;
    font-size: 12px;
    margin-top: 1px;
}

.stats .btn {
    height: 22px;
    width: 90%;
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
    align-self: center;
    margin-top: 5px;
}

.stats .row {
    padding-left: 20px;
    height: 30px;
}

input.stats {
    font-size: 14px;
    color: green;
}

.mypager .row {
    background-color: lightgray;
    height: 30px;
}

.mypager .pager .btn {
    margin: 0;
    height: 25px;
    min-width: 30px;
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    border-radius: 4px;
}

.rawtext
{
   display:inline-block;
   margin:0;
}

.navbar {
    color: black;
    background-color: #2a6496;
}

.navbar-right {
    color: white;
}
.navbar-right a:link {
    color: white;
}
.navbar-right a:visited {
    color: white;
}
.navbar-right a:active {
    color: white;
}
.navbar-right a:hover {
    color: white;
}

.nav-tabs {
    color: black;
}

.nav-tabs li {
    background-color: lightskyblue;
}

.nav-tabs li:active {
    background-color: white;
}

a.editItem {
    background: url('/images/pencil_green.png') no-repeat center left;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-decoration: none;
    text-indent: -9999px;
    padding: 0 10px 0 10px;
}

a.deleteItem {
    background: url('/images/cross_red.png') no-repeat center left;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-decoration: none;
    text-indent: -9999px;
    padding: 0 0 0 0;
}

 /* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
 
.field-validation-valid {
    display: none;
}
 
input.input-validation-error {
    border: 1px solid #b94a48;
}
 
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
 
.validation-summary-errors {
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}