@model PagedList<Customers.Web.Models.Customer>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="row" style="background-color: lightgray">
    <div class="col-sm-1" style="vertical-align: middle">
        <a class="selectAllLink" href="#">Select All</a>
    </div>

    <div class="col-sm-6" align="left" style="vertical-align: middle; ">
        | 
    </div>

    <div class="col-sm-5" align="right">
        @Ajax.ActionLink("Prev",
            "Index",
            new {sortOrder = ViewBag.CurrentSort, page = Model.PageIndex - 1, currentFilter = ViewBag.CurrentFilter},
            new AjaxOptions
            {
                UpdateTargetId = "customersList",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            },
            new {@class = $"btn btn-default {prevDisabled} btn"})

        @for (var i = 1; i <= Model.NumberOfPagerButtons; i++)
        {
            var isDisabled = Model.PageIndex == i ? "disabled" : "";
            @Ajax.ActionLink(i.ToString(),
                "Index",
                new {sortOrder = ViewBag.CurrentSort, page = i, currentFilter = ViewBag.CurrentFilter},
                new AjaxOptions
                {
                    UpdateTargetId = "customersList",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                },
                new {@class = $"btn btn-defaul {isDisabled} btn"})
        }

        @if (Model.IsDotsNeeded)
        {
            Html.DisplayText("...").ToHtmlString();

            @Ajax.ActionLink(Model.TotalPages.ToString(),
                "Index",
                new {sortOrder = ViewBag.CurrentSort, page = Model.TotalPages, currentFilter = ViewBag.CurrentFilter},
                new AjaxOptions
                {
                    UpdateTargetId = "customersList",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                },
                new {@class = $"btn btn-defaul {nextDisabled} btn"})
        }

        @Ajax.ActionLink("Next",
            "Index",
            new {sortOrder = ViewBag.CurrentSort, page = Model.PageIndex + 1, currentFilter = ViewBag.CurrentFilter},
            new AjaxOptions
            {
                UpdateTargetId = "customersList",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            },
            new {@class = $"btn btn-default {nextDisabled} btn"})
    </div>
</div>