@model PagedList<Customers.Web.Models.Customer>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="mypager">
    <div class="row">
        <div class="col-md-3">
            <a class="selectAllLink" href="#">Select All</a>
            <div class="rawtext">
                &nbsp; |
            </div>
        </div>

        <div class="col-md-9">
            <ul class="pager" style="margin: 0; padding-left: 50px">
                <li>
                    @Ajax.ActionLink("Prev",
                        "Index",
                        new {sortOrder = ViewBag.CurrentSort, page = Model.PageIndex - 1, currentFilter = ViewBag.CurrentFilter},
                        new AjaxOptions
                        {
                            UpdateTargetId = "customersList",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        },
                        new {@class = $"btn btn-default {prevDisabled} btn"})
                </li>
                @for (var i = 1; i <= Model.NumberOfPagerButtons; i++)
                {
                    <li>
                        @{ var isDisabled = Model.PageIndex == i ? "disabled" : ""; }
                        @Ajax.ActionLink(i.ToString(),
                            "Index",
                            new {sortOrder = ViewBag.CurrentSort, page = i, currentFilter = ViewBag.CurrentFilter},
                            new AjaxOptions
                            {
                                UpdateTargetId = "customersList",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET"
                            },
                            new {@class = $"btn btn-defaul {isDisabled} btn"})
                    </li>
                }

                @if (Model.IsDotsNeeded)
                {
                    <li>
                    <div class="rawtext">
                        ...
                    </div>
                    </li>
                }

                <li>
                    @Ajax.ActionLink(Model.TotalPages.ToString(),
                        "Index",
                        new {sortOrder = ViewBag.CurrentSort, page = Model.TotalPages, currentFilter = ViewBag.CurrentFilter},
                        new AjaxOptions
                        {
                            UpdateTargetId = "customersList",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        },
                        new {@class = $"btn btn-defaul {nextDisabled} btn"})
                </li>
                <li>
                    @Ajax.ActionLink("Next",
                        "Index",
                        new {sortOrder = ViewBag.CurrentSort, page = Model.PageIndex + 1, currentFilter = ViewBag.CurrentFilter},
                        new AjaxOptions
                        {
                            UpdateTargetId = "customersList",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        },
                        new {@class = $"btn btn-default {nextDisabled} btn"})
                </li>
            </ul>
        </div>
    </div>
</div>